main {
    li {
        justify-content: left;
        border: 0;
        filter: none;
    }
}

.date {
    align-self: flex-end;
    justify-self: flex-end;
    font-size:0.8em;
    margin: 1em;
}

input[type = "checkbox"]:checked {
    display:none;
}

input[type = "checkbox"]:checked + label {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}