li {
    height: 4em;
    background: white;
    border-radius: 0.25rem;
    color: #545545;
    filter: drop-shadow(5px 5px 5px #e6e6e6);
    padding: 1em;
    display: flex;
    justify-content: center;
    

}